<footer class="footer-3 text-center-xs space--xs bg--dark ">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img alt="Image" class="logo" src="https://lh3.googleusercontent.com/3adRpuCoFpwKuMbDhltlnBoTFd1kI4ypyjuWq7kWWUJSzleHwMHY6lPvGt0o6fERi_06uARURtHim3ORBzO9gzvH=s91" />
                <ul class="list-inline list--hover">
                    <li>
                        <a href="/register">
                            <span class="type--fine-print">Get Started</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:sdmarketplace@stevens.edu">
                            <span class="type--fine-print">sdmarketplace@stevens.edu</span>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6">
                <p class="type--fine-print">
                    Senior Design Marketplace
                </p>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> Stephen McArdle</span>
                <a class="type--fine-print" href="https://github.com/stephenmcardle/Senior-Design-Marketplace">Github</a>
                <a class="type--fine-print" href="#">Documentation</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>