<div class="nav-container ">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="/images/logo.PNG" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="/" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs " data-scroll-class='366px:pos-fixed'>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="https://lh3.googleusercontent.com/xlEWZ-sejxNHH_l5Q4b7jXiTtPUr1CEhwKhvl2E9ttpowqqYmjZjM8GhHrlLPGhw4bQ_xLjD97iEAWYpUImIY391=s180" />
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                	<a href="/">
                                		<span class="theme__menu__item">Home</span>
                                	</a>
                                </li>

                                <li>
                                	<a href="/about">
                                		<span class="theme__menu__item">About</span>
                                	</a>
                                </li>

                                <li>
                                	<a href="/projects">
                                		<span class="theme__menu__item">Projects</span>
                                	</a>
                                </li>

                                <li>
                                	<a href="/users">
                                		<span class="theme__menu__item">Users</span>
                                	</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!--end module-->
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="/dashboard">
                                <span class="btn__text">
                                    Account
                                </span>
                            </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="/addProject">
                                <span class="btn__text">
                                    Add Project
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>