<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body>
    <a id="start"></a>
	{{>nav}}
	<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <article>
                        <div class="article__title text-center">
                            <h1 class="h2">{{project.name}}</h1>
                            <span>Creator: <a href="/user/{{project.username}}">{{project.firstName}} {{project.lastName}}</a></span><br />
                            <span>{{project.timestamp}}</span><br />
                            <span>Tags: {{project.tags}}</span><br />
                        </div>
                        <!--end article title-->
                        <div class="article__body">
                            <img alt="Image" class="img-responsive center-block" src="{{project.image}}" />
                            <div class="text-center">
                                <span>Department: {{project.department}}</span></br />
                                <span>Desired Majors: {{project.majors}}</span><br />
                                <span>Min Team Size: {{project.minsize}}</span><br />
                                <span>Max Team Size: {{project.maxsize}}</span><br />
                                <span>Application Status: {{project.accepting}}</span><br />
                            </div><br />
                            <p class="text-center">
                                {{project.description}}
                            </p>
                        </div>
                        <br />
                        <div>
                            <h2 class="text-center">Apply to Project</h2>
                            <form action="/"  method="POST">
                                <div class="form-group">
                                    <label for="joiner-skills">Skills you can add to the team</label>
                                    <textarea id="joiner-skills" class="form-control" name="skills" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="joiner-skills">Why do you want to join?</label>
                                    <textarea id="joiner-reason" class="form-control" name="reason" required></textarea>
                                </div>
                                <input id="joiner-name" class="form-control" type="hidden" name="creatorID" value="{{user.firstName}} {{user.lastName}}" />
                                <input id="joiner_username" class="form-control" type="hidden" name="creatorID" value="{{user.username}}" />
                                <input id="project-name" class="form-control" type="hidden" name="creatorID" value="{{project.name}}" />
                                <input id="theUser" class="form-control" type="hidden" name="creatorID" value="{{user.id}}" />
                                <input id="theUserName" class="form-control" type="hidden" name="creatorID" value="{{user.username}}" />
                                <button id="project-submit" type="submit" class="btn btn--sm btn--primary type--uppercase">Submit</button>
                            </form>
                        </div>      
                    </article>
                    <!--end item-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    {{>footer-light}}

    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/typed.min.js"></script>
    <script src="/js/granim.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>    
    <script src="/js/isotope.min.js"></script>
    <script src="/js/scripts.js"></script>


	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
	NOTE: These should be minified in a build script -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/dropzone.js"></script> 
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
        $(function(){
            var turbo = Turbo({
                site_id: '5a511633b06cbe0014f4b6eb'
            })
            $('#project-submit').click(function(event){
                event.preventDefault()
                var projectApp = {
                    skills: $('#joiner-skills').val(),
                    reason: $('#joiner-reason').val(),
                    JoinerID: $('#joiner-name').val(),
                    project_name: $('#project-name').val(),
                    id: $('#joiner_username').val(),
                    theUserID: $('#theUser').val(),
                    theUserName: $('#theUserName').val(),
                    valid:'false'
                }

                $.ajax({
                    url : '/api/projectApp',
                    type: 'POST',
                    data : projectApp,
                    success: function(data, textStatus, jqXHR){
                        if (data.confirmation != 'success'){
                            alert('Error: ' + data.message)
                            return
                        }

                        window.location.href = '/'
                    },
                    error: function (jqXHR, textStatus, err){
                        alert('Error: ' + err.message)
                    }
                })
            })
        })
    </script>


</body>
</html>
