<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    {{>head}}
</head>
    
<body class=" ">
    <a id="start"></a>
    {{>nav}}

    <div class="main-container">
            <section class="text-center height-100">
                <div class="pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <h2>Create an Account</h2>
                            <form action="/auth/register" method="post">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <input type="text" name="firstName" placeholder="First Name" />
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <input type="text" name="lastName" placeholder="Last Name" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="text" name="username" placeholder="Username" />
                                    </div>
                                    <div class="col-xs-12">
                                      <select class="form-control" id="major-select" name="major" required>
                                        <option value="" disabled selected>Select a Major</option>
                                        <option value="Biomedical Engineering">Biomedical Engineering</option>
                                        <option value="Business & Technology">Business &amp; Technology</option>
                                        <option value="Chemical Engineering">Chemical Engineering</option>
                                        <option value="Civil Engineering">Civil Engineering</option>
                                        <option value="Computer Engineering">Computer Engineering</option>
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Electrical Engineering">Electrical Engineering</option>
                                        <option value="Engineering Management">Engineering Management</option>
                                        <option value="Environmental Engineering">Environmental Engineering</option>
                                        <option value="Information Systems">Information Systems</option>
                                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                                        <option value="Naval Engineering">Naval Engineering</option>
                                        <option value="Systems Engineering">Systems Engineering</option>
                                      </select>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="email" name="email" placeholder="Email Address" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="text" name="cwid" placeholder="CWID" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="password" name="password" placeholder="Password" />
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                                    </div>
                                    <div class="col-xs-12">
                                        <span class="type--fine-print">Already have an account?
                                            <a href="/login">Login</a>
                                        </span>
                                    </div>
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>